{% extends 'base.html' %}

{% block content %}
    <h1>SynthQuery</h1>
    <p>Welcome to SynthQuery. This interface allows you to interact with our custom database.</p>
    <!-- The form and button have been removed -->
    <section>
        <h2>About SynthQuery</h2>
        <p>The primary objective of our project was to design and implement a sample database system that not only supports multiple data models but also utilizes a completely new query language, which we have created called SynthQuery. SynthQuery was created by integrating the Click Python package, which seamlessly constructs command-line interfaces to process and interpret database queries. Additionally, our query language allows users to seamlessly manage and query their data regardless of the chosen format.</p>
    </section>

{% endblock %}

